dialog{
    width: 1200px;
    max-width: calc(100vw - 60px);
}

.form-group{
    margin-bottom: 30px;
}

.form-group.remove{
    animation: hideRemove 500ms ease-in-out forwards;
}

.disable{
    pointer-events: none;
    opacity: 0.4!important;
}



@keyframes hideRemove {
    from {opacity: 1;}
    to {opacity: 0;}
  }

.form-group .card{
    padding: 30px 15px;
}

.form-group p{
    font-size: 22px;
    font-weight: 700;
}

.form-group input{
    width: 300px;
    max-width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}

.btn{
    opacity: 1;
    max-height: 100px;
    transition: 250ms ease-in-out;
}

.hidden{
    opacity: 0;
    max-height: 0px;
}

#generated-cards{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    min-height: 200px;
    width: 100%;
}

.generated-card{
    position: relative;
    min-height: 100px;
    width: 100%;
}

.playing .generated-card:not(.face-up){
    cursor: pointer;
}

.card-info{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
}

#generated-cards.playing .generated-card::after{
    content:"";
    background-color: #fff;
    opacity: 0;
    border: 1px solid #000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    transition: 250ms ease-in-out;
}

#generated-cards.playing .generated-card:not(.face-up)::after{
    opacity: 1;
}